@model IEnumerable<BBallCamp.Models.CampModels.CampListItem>

@{
    ViewBag.Title = "Index";
}
<div id="camp-home">

<h2>My Camps</h2>

<p>
    @Html.ActionLink("Add Camp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CampID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CampID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CampID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CampID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CampID })
        </td>
    </tr>
}

</table>
